.Footer {
  width: 1550px;
  height: 200px;
  background-color: rgba(0, 178, 160, 1);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
    height: 63px;
  }
}
